/* sprite
**************************************************/
#toplevel_page_pur-dashboard .wp-menu-image, 
.pur-close-icon, 
.pur-dashboard .pur-dashboard-title {
	background-image: url(../images/pur-sprite.png)
}
#toplevel_page_pur-dashboard .wp-menu-image img {
	display: none
}

/* dashboard
**************************************************/
/* post type icon */
#toplevel_page_pur-dashboard .wp-menu-image { 
	background-position: 5px 5px !important; 
	background-repeat: no-repeat;
}
#toplevel_page_pur-dashboard:hover .wp-menu-image,
#toplevel_page_pur-dashboard.wp-menu-open .wp-menu-image { 
	background-position: 5px -45px !important;
}

/* common icon */
.pur-close-icon { 
	display: block; 
	width: 12px; 
	height: 13px; 
	outline: 0;
	text-indent: -99999px; 
	background-position: 1px -147px;
	background-repeat: no-repeat;
}
.pur-close-icon:hover {
	background-position: 1px -198px;
	cursor: pointer;
	outline: none;
}


/* used for device and retina */
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min--moz-device-pixel-ratio:2),only screen and (-o-min-device-pixel-ratio:2/1),only screen and (min-device-pixel-ratio:2) { 
	#toplevel_page_pur-dashboard .wp-menu-image, 
	.pur-close-icon, 
	.pur-dashboard .pur-dashboard-title {
		background-image: url(../images/pur-sprite@x2.png)
	}
	#toplevel_page_pur-dashboard .wp-menu-image,
	.pur-close-icon {
		background-size: 27px 170px;
	}
	#toplevel_page_pur-dashboard .wp-menu-image {
		background-position: 7px 6px !important;
	}
	.pur-close-icon {
		background-size: 27px 170px;
	}
	#toplevel_page_pur-dashboard:hover .wp-menu-image,
	#toplevel_page_pur-dashboard.wp-menu-open .wp-menu-image {
		background-position: 7px -35px !important
	}
	.block-shortcode .pur-close-icon {
		background-size: 28px 225px;
		background-position: 1px -161px !important;
	}
}
